.st0{fill:#E5A376;}
.st1{fill:#2B4659;}
.st2{fill:#3E5360;}
.st3{fill:#845D42;}
.st4{fill:#603813;}
.st5{fill:#FEC66C;}
.st6{clip-path:url(#SVGID_2_);fill:#845D42;}
.st7{fill:#B14C36;}
.st8{clip-path:url(#SVGID_4_);fill:#D95C50;}
.st9{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
.st10{opacity:0.5;}
.st11{fill:#E29969;}
.st12{opacity:0.25;fill:#D95C50;}
.st13{fill:#3D2A1C;}
.st14{fill:#FFFFFF;}
.st15{fill:#A87C4F;}
.st16{fill:#C3996B;}
.st17{fill:#507B8E;}
.st18{fill:#EBAB80;}
.st19{clip-path:url(#SVGID_6_);fill:#3D2A1C;}
.st20{fill:#231F20;}
st21{clip-path:url(#SVGID_8_);fill:#D95C50;}
.st22{clip-path:url(#SVGID_8_);fill:#FFFFFF;}
.st23{opacity:0.1;fill:#D95C50;}
.st24{clip-path:url(#SVGID_10_);fill:#3D2A1C;}
.st25{clip-path:url(#SVGID_12_);fill:#D95C50;}
.st26{clip-path:url(#SVGID_12_);fill:#FFFFFF;}
st27{fill:#5083A5;}
.st28{fill:#38425B;}
.st29{fill:#508C66;}
.st30{fill:#6F93A5;}
.st31{clip-path:url(#SVGID_14_);fill:#635042;}
.st32{fill:#635042;}
.st33{clip-path:url(#SVGID_16_);fill:#D95C50;}
.st34{clip-path:url(#SVGID_16_);fill:#FFFFFF;}
.st35{fill:#DDDDDD;}
.st36{fill-rule:evenodd;clip-rule:evenodd;fill:#DDDDDD;}
.st37{fill:#685358;}
.st38{fill:#6D4C41;}
.st39{fill:#4E342E;}
.st40{clip-path:url(#SVGID_20_);fill:#845D42;}
.st41{clip-path:url(#SVGID_22_);fill:#D95C50;}
.st42{clip-path:url(#SVGID_22_);fill:#FFFFFF;}
.st43{clip-path:url(#SVGID_24_);fill:#3D2A1C;}
.st44{clip-path:url(#SVGID_26_);fill:#D95C50;}
.st45{clip-path:url(#SVGID_26_);fill:#FFFFFF;}
.st46{clip-path:url(#SVGID_28_);fill:#3D2A1C;}
.st47{clip-path:url(#SVGID_30_);fill:#D95C50;}
.st48{clip-path:url(#SVGID_30_);fill:#FFFFFF;}
.st49{clip-path:url(#SVGID_32_);fill:#635042;}
.st50{clip-path:url(#SVGID_34_);fill:#D95C50;}
.st51{clip-path:url(#SVGID_34_);fill:#FFFFFF;}