#facts-carousel {
	height:407px;
	width:100%;
}

#facts-carousel:hover {
	right:0;
}

#facts-carousel h3 {
	color:#3c3c3c;
	text-shadow:none;
}

.carousel-caption {
	padding:3em 0;
}

.carousel-caption img {
	width:35%;
}

.carousel-inner {
	position:relative;
	width:1080px;
	padding:0 1em;
	margin:auto;
	height:100%;
}

.carousel-inner .item {
	height:100%;
}

.carousel-indicators li {
	border:1px solid #d8d4c7;
}

.carousel-indicators .active {
	background:#d8d4c7;
}

.chart-info {
	padding:3em 0;
	text-align:center;
	border-bottom:1px solid #d8d4c7;
	margin:0 3em;
}

.chart-info img {
	width:50%;
}

.carousel-container {
	position:relative;
	width:1080px;
	padding:0 1em;
	margin:auto;
	background:#e6e2d4;
	right:-800px;
	-webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in;
}

.carousel-container:hover {
	right:0;
}
